.org-builtin {
  color: #a04025;
}
.org-comment,
.org-comment-delimiter {
    color: #3F7F5F;
    font-style: italic;
}

.org-keyword {
    color: #d64a45;
}

.org-function-name {
    color: #9d2b9f;
}

.org-string {
    color: #009717;
}

 
/* .org-constant */
/* .org-doc */
/* .org-doc-string */


/* .org-preprocessor */
/* .org-reference */
/* .org-regexp-grouping-backslash */
/* .org-regexp-grouping-construct */

/* .org-type */
/* .org-variable-name */
/* .org-warning-1 */

