@import url("jbossorg.css");
@import url("code.css");

#title .site {
    display:block;
    height:89px;
    width:310px;
    float:left;
    background:url(../images/community/jbossorglogo.png) top left no-repeat;
}

#title .doc {
    display:block;
    height:89px;
    background:transparent url(../images/community/community_doc.png) top right no-repeat;
}
